@charset "UTF-8";

body {
    color: white;
    font-family: Verdana, Geneva, Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6, p, li {
    margin-left: 15px;
    margin-top: 0px;
}

#wrapper {
    width: 100%;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: DarkGrey;
}

#footer {
    height: 80px;
    background-color: black;
}

#banner {
    height: 60px;
    background-color: black;
}


